@charset "UTF-8";

.franklin-content .pseudocode {
  background-color: var(--block-background);
  padding: 0.1em 0.2em;
  border-radius: 2px;
  font-size: 16px;
  line-height: 1.35em;
  border-radius: 10px;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

/* Just protects the pseudocode from changing size thanks to <p>...</p> tags.*/
.franklin-content .pseudocode p, ol, ul, li {
  font-size: 17px;
  margin: 0;
  line-height: 1.5em;
}

.franklin-content .pseudocode a:link {
  text-shadow: 0.03em 0 var(--block-background), -0.03em 0 var(--block-background), 0 0.03em var(--block-background), 0 -0.03em var(--block-background), 0.06em 0 var(--block-background), -0.06em 0 var(--block-background), 0.09em 0 var(--block-background), -0.09em 0 var(--block-background), 0.12em 0 var(--block-background), -0.12em 0 var(--block-background), 0.15em 0 var(--block-background), -0.15em 0 var(--block-background);
}
